.header {
    height: 56px;
    background-color: rgb(103, 198, 6);
    color: #fff;
    padding: 0 16px;
    vertical-align: top;
    &-icon {
        color: #fff;
        line-height: 56px;
        font-size: 22.5px;
        font-weight: bolder;
        letter-spacing: 2px;
        display: block;
        outline: none;
        text-decoration: none;
        &:hover {
            text-decoration: none;
            color: #fff;
        }
    }
    &-container {
        height: 56px;
        width: 1100px;
        margin: 0 auto;
    }
    ul {
        margin: 0;
        padding: 0;
        height: 0;
        text-align: center;
        line-height: 56px;
        vertical-align: top;
        li {
            vertical-align: middle;
            box-sizing: border-box;
            height: 56px;
            display: inline-block;
            -webkit-box-align: center;
            -moz-box-align: center;
            -o-box-align: center;
            -ms-box-align: center;
            box-align: center;
            color: #fff;
        }
    }
    &-left {
        height: 100%;
        position: relative;
        float: left;
        .search-warapper {
            padding-top: 10px;
            .search-form {
                width: 200px;
                border-radius: 4px;
                background-color: #fff;
                height: 32px;
                line-height: 56px;
                color: #aaa;
                box-shadow: inset 0 1px 2px #ccc;
                position: relative;
                i {
                    padding: 0 0 0 9px;
                }
                &__input {
                    background-color: none;
                    font-size: 12px;
                    border: none;
                    height: 29px;
                    outline: 0;
                    padding: 6px 12px;
                    width: 176px;
                }
            }
        }
    }
    &-community {
        cursor: pointer;
        position: relative;
        transition: color 0.08s ease-in-out;
        -webkit-user-select: none;
        -ms-user-select: none;
        font-size: 12px;
        line-height: 1;
        margin-right: 24px;
        margin-left: 24px;
        padding-top: 14px;
        outline: none;
    }

    &-right {
        height: 100%;
        position: relative;
        float: right;
        color: #fff;
        box-sizing: border-box;
        vertical-align: middle;
        li {
            position: relative;
            &.li-icon {
                padding-left: 20px;
            }
            margin-right: 16px;
            p {
                font-size: 12px;
            }
            &:last-child {
                padding-left: 0;
            }
            .new-post-btn {
                margin: auto 0;
                background-color: rgb(75, 146, 3);
                width: 100%;
                height: 34px;
                text-align: center;
                position: relative;
                margin-top: 10px;
                padding: 0 7px 0 25px;
                border-radius: 4px;
                &_ul {
                    line-height: 1;
                    height: 34px;
                    margin: 0px;
                    padding: 0px;
                    text-align: center;
                    list-style-position: inside;
                    &_li {
                        height: 34px;
                        line-height: 34px;
                        padding: 0;
                        text-align: center;
                        &:first-child {
                            position: relative;
                            i {
                                line-height: 1;
                                position: absolute;
                                margin: 0;
                                top: 8px;
                                left: -2px;
                            }
                        }
                    }
                }
            }
            i {
                position: absolute;
                left: 0px;
                top: 22px;
            }
            .nav-link {
                text-decoration: none;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                &.dropdown-toggle::after {
                    position: absolute;
                    right: -16px;
                    top: 50%;
                    color: rgb(70, 138, 5);
                }
            }
            .user-icon {
                width: 32px;
                height: 32px;
                border-radius: 50%;
            }
            .dropdown-menu {
                position: absolute;
                width: 198px;
                left: -150px;
                a {
                    height: 38px;
                    line-height: 24px;
                    font-size: 12px;
                    color: #555;
                    text-align: left;
                    padding: 7px 16px;
                }
            }
        }
        a {
            color: #fff;
            text-decoration: none;
            font-size: 11px;
            text-align: center;
        }
        .registar-btn {
            color: #fff;
            border: 2px solid #fff;
            padding: 0 16px;
            height: 30px;
            padding: 7px 10px;
            margin: 0 16px 0 0;
            border-radius: 4px;
        }
        .submit {
            background-color: transparent;
            border: none;
            cursor: pointer;
            outline: none;
            padding: 0;
            appearance: none;
            color: #fff;
            font-size: 11px;
            text-align: center;
        }
    }
}

.flash_message {
    background-color: seagreen;
    color: #fff;
    padding: 5px 0;
}
