.post-page-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    .post-create_wrapper {
        width: 100%;
        height: calc(100% - 56px);
        display: block;
        .tags {
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            display: flex;
            width: 100%;
            height: calc(1.6em + 0.75rem + 2px);
            padding: 0.375rem 0.75rem;
            font-size: 0.9rem;
            font-weight: 400;
            line-height: 1.6;
            color: #495057;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid #ced4da;
            border-radius: 0.25rem;
            transition: border-color 0.15s ease-in-out,
                box-shadow 0.15s ease-in-out;
            margin: 0;
            &-wrapper {
                white-space: normal;
                li {
                    display: inline;
                }
                .tag-content {
                    background-color: rgb(217, 234, 254);
                    font-size: 12px;
                    padding: 2px;
                    border-radius: 3px;
                    line-height: 100%;
                    margin-right: 2px;
                    .tag-label {
                        line-height: 12px;
                    }
                }
            }
            #tag-input {
                border: none;
                outline: 0;
                width: 100%;
            }
        }
        .markdown-wrapper {
            width: 100%;
            height: calc(100% - 74px);
            margin: 0;
            background-color: red;
            display: flex;
            flex-wrap: wrap;
            .markdown {
                width: 50%;
                height: 100%;
                padding: 16px;
                flex: none;
                border: 1px solid #ced4da;
                background-color: #fff;
                #markdown_editor_textarea {
                    box-sizing: border-box;
                    height: 100%;
                    width: 100%;
                    resize: none;
                    outline: 0;
                    border: none;
                }
                #markdown_preview {
                    box-sizing: border-box;
                    width: 100%;
                    height: 100%;
                    padding: 1rem;
                    background-color: white;
                    border-radius: 0.25rem;
                    color: #495057;
                    overflow: scroll;
                    h1 {
                        font-size: 2rem;
                        font-weight: 700;
                        margin-bottom: 1rem;
                        padding-bottom: 0.2rem;
                        border-bottom: solid 1px #ddd;
                    }
                    h2 {
                        font-size: 1.8rem;
                        margin-bottom: 1rem;
                        padding-bottom: 0.2rem;
                        border-bottom: solid 1px #ddd;
                    }
                    h3 {
                        font-size: 1.6rem;
                        margin-bottom: 1rem;
                        padding-bottom: 0.2rem;
                        border-bottom: solid 1px #ddd;
                    }
                    pre {
                        code {
                            color: white;
                            padding: 1.5rem 1rem;
                            background-color: #364549;
                            width: 100%;
                            display: block;
                        }
                    }
                    img {
                        max-width: 100%;
                        height: auto;
                    }
                    p > code {
                        background-color: #eee;
                        color: #333;
                        padding: 0.1em 0.4em;
                    }
                }
            }
        }
    }

    .post-create-footer {
        height: 52px;
        padding: 10px 4px;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        .post-button {
            background-color: #55c501;
            border: solid 1px rgb(78, 163, 10);
            border-radius: 0px;
            color: white;
            padding: 5px 18px;
            font-size: 14px;
            width: 155px;
            height: 100%;
            margin-right: 1rem !important;
            i {
                margin-right: 5px;
                font-size: 12px;
            }
        }
    }
}
