.top-wrapper {
    background-color: #f6f6f6;
    padding: 40px 0px;
    height: 100vh;
    overflow: scroll;
    .posts-wrapper {
        background-color: white;
        margin: 0px auto;
        padding: 20px;
        .posts-nav {
            &_ul {
                li {
                    display: inline-block;
                    width: 133px;
                    height: 36px;
                    box-sizing: border-box;
                    a {
                        display: block;
                        color: #555;
                        cursor: default;
                        background-color: #fff;
                        border: 1px solid #ddd;
                        border-bottom-color: transparent;
                        margin-right: 2px;
                        line-height: 1.42857;
                        border: 1px solid transparent;
                        border-radius: 3px 3px 0 0;
                        padding: 10px 15px;
                    }
                }
            }
        }
        .post-box {
            display: flex;
            align-items: center;
            padding: 20px;
            border-bottom: solid 3px #f6f6f6;
            .post-box_left {
                height: 40px;
                width: 40px;
                background-color: gray;
                border-radius: 5px;
            }
            .post-box_right {
                padding-left: 20px;
                .post-title {
                    font-weight: bold;
                }
                .post-details {
                    &_date {
                        color: gray;
                    }
                }
            }
        }
    }
}
