.post-page-wrapper {
    background-color: #f8f9fc;
    .post-wrapper {
        background-color: white;
        margin: 3rem 5rem;
        padding: 3rem;
        .post-header {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            &_ul-left {
                li {
                    display: inline-block;
                    height: 32px;
                    line-height: 32px;
                }
                .user-icon {
                    border-radius: 50%;
                    width: 32px;
                    height: 32px;
                    margin-right: 8px;
                }
                .user-name {
                    font-size: 18px;
                    margin-right: 16px;
                }
                .date {
                    color: gray;
                    margin-right: 16px;
                }
            }

            &_ul-right {
                height: 18px;
                a {
                    color: #999999;
                    font-size: 12px;
                    line-height: 18px;
                    height: 100%;
                    &.edit-pass {
                        font-size: 12px;
                        margin: 0 16px;
                    }
                    &.setting {
                        font-size: 16px;
                        &:hover {
                            text-decoration: none;
                        }
                    }
                }
                li {
                    display: inline-block;
                    height: 32px;
                    line-height: 32px;
                    .trash-form {
                        button {
                            background-color: transparent;
                            border: none;
                            cursor: pointer;
                            outline: none;
                            padding: 0;
                            appearance: none;
                            color: #999999;
                            font-size: 12px;
                            padding: 0.25rem 1.5rem;
                            width: 100%;
                            text-align: left;
                        }
                        &_btn {
                            padding: 0 5px 0 0;
                        }
                    }
                }
            }
        }
        .post-title {
            font-size: 4rem;
            margin-top: 1.2rem;
            font-weight: bold;
            margin-bottom: 16px;
            line-height: 1.4;
            font-feature-settings: "palt";
        }
        .post-tags {
            div {
                margin: 0 8px 0 0;
            }

            .post-tag {
                background-color: #eee;
                display: inline-flex;
                padding: 2px 8px;
                font-size: 14px;
                color: #666;
                border-radius: 4px;
                height: 23px;
                line-height: 19px;

                border: none;
                cursor: pointer;
                outline: none;
                appearance: none;
            }
        }
        .post-body {
            margin-top: 2rem;
            h1 {
                font-size: 1.8rem;
                font-weight: 700;
                margin-bottom: 1rem;
                padding-bottom: 0.2rem;
                border-bottom: solid 1px #ddd;
            }
            h2 {
                font-size: 1.5rem;
                margin-bottom: 1rem;
                padding-bottom: 0.2rem;
                border-bottom: solid 1px #ddd;
            }
            h3 {
                font-size: 1.2rem;
                margin-bottom: 1rem;
                padding-bottom: 0.2rem;
                border-bottom: solid 1px #ddd;
            }
            pre {
                code {
                    color: white;
                    padding: 1.5rem 1rem;
                    background-color: #364549;
                    width: 100%;
                    display: block;
                }
            }

            p > code {
                background-color: #eee;
                color: #333;
                padding: 0.1em 0.4em;
            }

            img {
                max-width: 100%;
                height: auto;
            }
        }
    }
}

.btn-warapper {
    margin: 40px 0 0 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 24px;
    position: -webkit-sticky;
    position: sticky;
    top: 10px;
    will-change: transform;
    z-index: 100;
    .like,
    #like {
        text-align: center;
        font-size: 2rem;
        height: 44px;
        width: 100%;
        margin: 0 8px;
        color: #55c500;
        background-color: #fff;
        &_btn {
            border: 2px solid #55c500;
            height: 100%;
            width: 100%;
            color: inherit;
            background-color: inherit;
            cursor: pointer;
            font-size: 1.4rem;
            font-weight: bolder;
            line-height: 38px;
            &__span {
                margin-right: 12px;
            }
        }
    }
}
